.parentTaskCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-right: 20px;
}

.commonParentTaskButton {
  padding: 10px 15px;
  font-size: 16px;
  margin-right: 10px;
  width: 100%;
  color: white;
}

.btnBack {
  background-color: var(--color-info);
}

.btnAdd {
  background-color: var(--color-success);
}

.taskWrapper {
  flex-grow: 1;
  max-width: calc(100% - 20px - 10px - 2px);
  margin-left: 10px;
  background-color: #ffe8c2;
  border: 1px solid #d3ac74;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Courier New", Courier, monospace;
}

.taskWrapper h2 {
  font-size: 24px;
  font-weight: bold;
  color: #4c4c4c;
  margin: 0;
  padding: 10px;
}

.taskWrapper:hover {
  border-color: #b58b4c;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 700px) {
  .taskWrapper {
    padding: 10px;
    margin-right: 10px;
  }

  .taskWrapper h2 {
    font-size: 18px;
    padding: 5px;
  }

  .buttonContainer {
    gap: 5px;
  }

  .commonParentTaskButton {
    padding: 8px 12px;
    font-size: 14px;
  }
}
