@import url('../../assets/css/variables.css');

/* Task Input Wrapper */
.task-input-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 20px; 
}

/* Task Input Container */
.task-input {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Task Input Field */
.task-input-field {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  padding: 12px 20px;
  margin: 0 8px;
  display: inline-block;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  box-sizing: border-box;
}
