@import url('./assets/css/variables.css');

/* General styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

.add-task-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: absolute;
  margin-bottom: 30px;
}

.add-task-input {
  width: 100%;
  max-width: 300px;
  padding: 12px 20px;
  margin: 0 8px;
  display: inline-block;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  box-sizing: border-box;
}

/* Todo App Container */
.todo-app-container {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 60px 30px 30px;
  position: relative;
  max-width: 800px;
  margin: 40px auto;
  margin-top: 150px;
  border-radius: 12px;
}

.todos {
  margin-top: 70px;
}

/* Task list */
.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Task item */
.todo-item {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: var(--color-primary);
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.todo-item:hover {
  background-color: var(--color-dark);
}

.todo-item input[type="checkbox"] {
  appearance: none;
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  position: relative;
  width: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  min-width: 20px; /* Add this line */
}


.todo-item label {
  font-size: 1.2rem;
  color: var(--color-light);
}

/* Subtasks */
.subtasks {
  margin-left: 20px;
}

.subtasks li {
  margin-top: 5px;
  list-style: none;
}

.subtasks input[type="checkbox"] {
  margin-right: 5px;
}

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--color-tertiary);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 400px;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: var(--color-dark);
}

.modal-content input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  box-sizing: border-box;
}

/* Custom Checkbox */
.todo-item input[type="checkbox"] {
  appearance: none;
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  position: relative;
  width: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.todo-item input[type="checkbox"]:before {
  content: "✓";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  color: transparent;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease;
}

.todo-item input[type="checkbox"]:checked {
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
}

.todo-item input[type="checkbox"]:checked:before {
  color: var(--color-primary);
}

/* Completed Task Style */
.todo-item.completed {
  background-color: var(--color-light);
  opacity: 0.5;
}

.todo-item.completed label {
  text-decoration: line-through;
  color: var(--color-dark);
  pointer-events: none;
}

/* Editing task input styles */
.editing-task-input {
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  color: var(--color-dark);
  font-size: 1.1rem;
  margin-left: 10px;
  outline: none;
  padding: 5px 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  transition-duration: 0.4s;
}

.editing-task-input:focus {
  border-color: var(--color-secondary);
  box-shadow: 0 0 6px rgba(76, 88, 111, 0.5);
}

.editing-task-input::placeholder {
  color: var(--color-primary);
  opacity: 1;
}

/* Editable task label styles */
.editable-task-label {
  font-size: 1.1rem;
  color: var(--color-light);
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.editable-task-label:hover {
  border: 1px dashed var(--color-light);
}

.todo-item.completed label {
  text-decoration: line-through;
  color: var(--color-dark);
  pointer-events: none; /* Add this line */
}

.tasks-navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}


.parent-task .task-card {
  background-color: var(--color-light);
  color: var(--color-dark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.parent-task .task-card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: none;
}

/* MEDIA */
@media (max-width: 800px) {
  .todo-app-container {
    padding: 30px;
  }
}

